<nav class="navbar bavbar-dark bg-dark">
  <a class="navbar-brand" href="#"
    >ACCESO DE USURARIOS AL SISTEMA DE RECONOCIMIENTO FACIAL</a
  >
</nav>

<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4" style="margin-top: 90px">
      <div class="card">
        <div class="card-header bg-dark text-white">INTRODUZCA EL PASSWORD</div>
        <img src="{{ this.imageUser }}" class="img-card-top" />
        <div class="card-body">
          <form
            (ngSubmit)="accesoPassword(forma)"
            class="text-center"
            #form="ngForm"
          >
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              name="password"
              [ngModel]="usuario.password"
              #password="ngModel"
              required
            />
            <button
              type="button"
              class="btn btn-warning mr-2"
              (click)="btnVolver()"
            >
              Volver
            </button>
            <button type="submit" class="btn btn-secondary">Acceder</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
